@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="text-center">
    <h3 class="display-4">Realmente deseja apagar o contato?</h1>
</div>
<br>
<a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar exclusão</a>