@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="text-center">
    <h3 class="display-4">Realmente deseja apagar o contato?</h1>
</div>
<br>
<a class="btn btn-primary" role="button">Cancelar exclusão</a>
<a class="btn btn-danger" role="button">Confirmar exclusão</a>