@model ContatoModel
@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="text-center">
        <h3 class="display-4">Deseja apagar o contato <strong>@Model.Nome</strong>?</h3>
</div>
<br>
<a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>
<a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>